.place__title {
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #fff;
  margin: 0;
  align-self: end;
}
@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}
@media (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 110%;
  }
}
@media (max-width: 767px) {
  .place__title {
    max-width: 288px;
    grid-row-start: 1;
    font-size: 32px;
    line-height: 109%;
    align-self: none;
    margin: 50px 12px 0;
  }
}

@media (max-width: 320px) {
  .place__title {
    max-width: 288px;
    grid-row-start: 1;
    font-size: 32px;
    line-height: 109%;
    align-self: none;
    margin: 50px 12px 0;
  }
}
