.place__image {
  max-width: 460px;
  min-height: 460px;
  grid-column-start: 1;
  grid-row-start: 2;
  margin-top: 48px;
}
@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    min-height: 440px;
  }
}
@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
    min-height: 340px;
  }
}
@media (max-width: 767px) {
  .place__image {
    max-width: 320px;
    min-height: 320px;
    margin-top: 32px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
@media (max-width: 320px) {
  .place__image {
    max-width: 320px;
    min-height: 320px;
    margin-top: 32px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
