.intro__list {
    margin: 0;
    margin-top: 33px;
    max-width: 690px;
    max-height: 90px;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    color:#fff; 
    list-style: none;
    padding: 0;
}