.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  margin: 0;
  margin-top: 48px;
}
.place__paragraph:nth-child(even) {
  margin-top: 26px;
}
@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .place__paragraph {
    margin: 32px 16px 0;
  }
}

