.place__link {
    max-width: 456px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__link:hover {
    opacity: .8;
    transition: 1s;
}