.lead__caption {
    margin: 0;
    margin-top: 8px;
    min-width: 158px;
    min-height: 14px;
    font-size: 10px;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    align-self: baseline;
}