.footer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 48px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 24px;
    padding-top: 88px;
  }
}
@media (max-width: 767px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    padding: 0;
    margin: 64px 118px 0px 16px;
  }
}

